h1 {
  display: block;
  font-size: 1em;
  margin-block-start: 0.2em;
  margin-block-end: 0.1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0.1em;
  margin-inline-start: 10px;
  margin-inline-end: 0px;
}

ul {
  list-style-type: none;
}

.App {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

.card-container .card {
  flex: 1;
  background: lightsalmon;
  padding: 10px;
  margin: 5px;
  transition: all .5s ease;
}

.card-container .card:hover {
  background: lightgrey;
  cursor: pointer ;
  transform: translate3D(0,-1px,0) scale(1.05);
}

.card-image img {
  width: 7vw;
  margin-bottom: 5px;
}

.card-text {
  font-size: 0.75em;
}
